@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
	/* color variables */
	--white: #ececec;
	--background: #212121;
	--modal-background: #000000;
}

.hidden {
	display: none;
}

/* GENERAL SETTINGS FOR ALL ELEMENTS TO INHERIT */

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/* GENERAL STYLING */

body {
	background-color: var(--background);
}

section {
	display: flex;
	flex-direction: column;

	justify-content: center;
}

/* header  */
main {
	width: 99vw;
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 1vw;
	color: var(--white);
}

main>form {
	margin-left: auto;
}

.header-title {
	font-size: 3rem;
	margin-left: 1vw;
	transition: all 200ms;
}

.header-title:hover {
	color: red;
	cursor: pointer;
}

#header-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
}

#close-search-btn {
	margin-left: auto;
	font-size: 16px;
}

#search-input {
	padding: 4%;
	font-size: 16px;

	border-radius: 5px;
	border: none;

	margin-right: 3vw;

	background-color: var(--white);
}

/* movies grid section */

#movies-grid {
	display: flex;
	flex-wrap: wrap;

	gap: 2vw;

	justify-content: center;
}

/* movie card styling */

.movie-card {
	flex-basis: 20%;
	/* border: 1px solid red; */
	text-align: center;

	height: fit-content;
}

.movie-poster {
	width: 80%;
	height: 80%;

	border-radius: 5px;

	transition: all 200ms;
}

.movie-poster:hover {
	filter: brightness(50%);
	cursor: pointer;
}

.movie-card-specs {
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}

.movie-votes {
	align-self: center;
}

/* other */

.btn {
	width: fit-content;
	font-size: 24px;
	align-self: center;
	margin: 2rem;

	border: solid 2px var(--white);
	border-radius: 5px;

	background-color: var(--white);

	transition: all 220ms;
}

.btn:hover {
	color: var(--white);
	background-color: var(--background);
	border: solid 2px var(--white);
	cursor: pointer;
}

#button-top {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;

	margin: 0 1.5rem 1.5rem 0;

	color: white;

	cursor: pointer;

	transition: all 200ms;
}

#button-top:hover {
	color: rgb(161, 0, 0);
}



/* responsive settings */
@media (max-width: 1320px) {
	.movie-card {
		flex-basis: 25%;
	}
}

@media (max-width: 800px) {
	.movie-card {
		flex-basis: 40%;
	}
}

#no-result-wrapper {
	padding: 0.1rem 1rem;
	margin: 2rem auto;

	text-align: center;
	font-style: italic;

	/* border-radius: 10px; */
	background-color: red;
}

#modal-background {
	position: fixed;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.5);

	z-index: 9;
}

/* modal styling */
#modal {
	width: 60vw;
	height: 60vh;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid red;
	background-color: var(--modal-background);
	z-index: 10;
}

